body,
* {
  margin: 0;
  padding: 0;
}
#bigScreen {
  /* background-color: rgba(17, 28, 53, 0.8); */
  /* 273e56 111c35  17 28 53*/
  /* background-image: radial-gradient(
    ellipse farthest-corner at center center,
    #273e56 0,
    #111c35 100%
  ); */
  width: 100vw;
  height: 100vh;
  background: url(../img/bg.webp) no-repeat;
  background-size: cover;
}

.dv-scroll-board .rows .row-item {
  height: auto !important;
  font-size: 12px;
}
.dv-decoration-2 {
  margin-bottom: 20px;
}
.dv-border-box-9 {
  /* background-color: rgba(1, 37, 70, 0.5); */
  margin-bottom: 20px;
  width: 470px;
}
.dv-border-box-1 {
  margin-bottom: 20px;
  width: 470px;
}
.dv-border-box-8 {
  margin-bottom: 20px;
  /* height: 560px; */
  width: 470px;
}
.dv-border-box-12 {
  width: 470px;
}
.dv-border-box-6 {
  margin-bottom: 20px;
  /* height: 560px; */
  width: 470px;
}
::-webkit-scrollbar {
  height: 0px !important;
  width: 0px !important;
}
